{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {{interlocutor.id}} {% trans "Dialog" %} {% endblock %}

{% block content %}
  <a href="{% url 'user' interlocutor.id %}"> {{interlocutor.email}} </a>
  <br>

  <b> {% trans "Messages" context "User messages" %} </b>: <br>
  <div id="dialog-messages"></div>

  <form id="form">
    {{ form.as_p }}
    <button type="submit" name="Send"> {% trans "Send" %} </button>
  </form>
{% endblock %}

{% block js_scripts %}
  <script type="module" src="{% static 'messages/js/dialog.js' %}"></script>
{% endblock %}
